{% extends 'blogapp/base2.html' %}
{% load static %}
{% block content %}

<style>
  .chat-page {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 100px;
  }
  </style>

<div class="container">
  <div class="chat-page">
    <h3 class="resume-title">Start Your conversation</h3>
    <div class="resume-item pb-0">
      <h4></h4>

      <form method="POST">
      {% csrf_token %}
      <p>enter a username you want to talk to</p>
      {{form}}

      <br><button type="submit" class="btn btn-light" style="width: 30%;">continue</button>
    
      </form>
      
    </div>
</div>
  
</div>
            
            



{% endblock %}